<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.lindlarverbindet.dingenskirchen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DingensKirchen">
        <activity android:name=".activities.VillageActivity"></activity>
        <activity android:name=".activities.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.lindlarverbindet.dingenskirchen.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>